<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" type= "text/css" href="/css.css">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }
    </style>
</head>
<body>
<div th:replace="headerHome">...</div>
<div class="grøn">

<img src="images/Pet.jpg" style="width: 95%" height="700px">

</div>
<div th:replace="footer">...</div>
</body>
</html>