<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="custom-select" style="width:200px;">
    <select>
        <option value="0">Rediger:</option>
        <option value="1">Se profil</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">Log af</option>

    </select>
</div>



<h1>Din profil</h1>

</body>
</html>