<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Creation</title>
</head>
<body>

<div class="profile">
    <form action="profil2.html">
        <label for="Name">Name:</label><br>
        <input type="text" id="Name" name="Name" value="" placeholder="Lisa" required> <br>

        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName" value="" placeholder="Johnson" required> <br>

        <label for="Age">Age:</label><br>
        <input type="date" id="Age"  name="Age" required><br>

        <label for="Sex">Sex:</label><br>
        <input type="text" id="Sex" name="Sex" value="" placeholder="Male/Female/Confused" required> <br>

        <label for="eMail">Email</label><br>
        <input type="eMail" id="eMail" placeholder="Lisajohnson@petmail.com"
               pattern=".+@globex.com" required> <br>

        <label for="petName">Pet name:</label><br>
        <input type="text" id="petName" name="petName" placeholder="Spike" value="" required> <br>

        <label for="Pet">Pet:</label><br>
        <input type="text" id="Pet" name="Pet" placeholder="Dog" value="" required> <br>

        <label for="petAge">Pet age:</label><br>
        <input type="date" id="petAge"  name="petAge" required> <br>

        <label for="petRace">Pet race:</label><br>
        <input type="text" id="petRace" name="petRace" placeholder="Chihuahua" value="" required> <br>

        <label for="petSex">Pet sex:</label><br>
        <input type="text" id="petSex" name="petSex" placeholder="Male/Female/Confused" value="" required> <br>

        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>